<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ayush.ml{%endblock%}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='portfolio.css') }}">

</head>
<body>
    <header>
        <nav class="navbar" id="home">
          <div class="left">
            <h1><a href="{{ url_for('home')}}">&lt;AYUSH /&gt;</a></h1>
          </div>
          <div class="right">
            <ul class="links">
              <button class="icon"><img src="img/sleep-mode.png" alt="" id="imgIcon" onclick="dark()"></button>
              <li><a href="{{ url_for('home')}}">Home /&gt;</a></li>
              <li><a href="#work">Work /&gt;</a></li>
              <li><a href="{{ url_for('about')}}">About /&gt;</a></li>
              <li><a href="{{ url_for('contact')}}">Contact /&gt;</a></li>
            </ul>
          </div>
        </nav>
      </header>
      
    {% block content %} {%endblock%}
    <!-- <footer>
      <h2><a href="{{ url_for('contact')}}">Contact me</a></h2>
    </footer> -->
    <script src="{{ url_for('static', filename='portfolio.js') }}"></script>
    <script src="{{ url_for('static', filename='js/typed.min.js') }}"></script>
</body>
</html>
