{% extends "base.html" %}
{% block title %}Ayush.ml|About{% endblock %}
{% block content%}

<section class="thirdSection">
    <div id="About">About /&gt;</div>
    <div class="code">
      <div class="class">class</div> <span class="content">Ayush Vishwakarma</span> {
        <div class="constructor">constructor</div><span class="white">()</span> {
          <div class="property">this.name</div> = <span class="content">'Ayush Vishwakarma'</span>;
          <div class="property">this.email</div> = <span class="content">'Ayushaiml14@gmail.com'</span>;
        }
    
        <div class="method">workExperience<span class="white">()</span><span class="white">{</span>
          return <span class="white">[</span>
            <span class="white">{</span>
              <span class="content code">'Hackerthon' : 'National hackathon 3.0
                College of Engineering Roorkee (COER)'</span>
            <span class="white">}</span>
          <span class="white">]</span>;
        <span class="white">};</span>
        </div>
    
        <div class="method">education<span class="white">()</span> <span class="white">{</span>
          return <span class="white">[</span>
            <span class="white">{</span><span class="content">'2021-2023': 'Confluence World School - 12, PCM'</span><span class="white">}</span>,
            <span class="white">{</span><span class="content">'2023-Present': 'Apex Groups of Institutions - Bachelor of Computer Application (BCA), Computer Science (IT)'</span><span class="white">}</span>
          <span class="white">]</span>;
        <span class="white">};</span>
        </div>
    
        <div class="method">skills<span class="white">()</span><span class="white">{</span>
          <span class="content">
            <div class="method">return</div> <span class="white">[</span> 'HTML/CSS/JS', 'Node.js', 'Tailwind',
            'Firebase', 'PHP', 'Photoshop', 'Illustrator', 'Da Vinci Resolve', 'Git/Github''python'
            <span class="white">]</span>;
          <span class="white">};</span>
          </span>
        </div>
      }
    </div>
    </section>
{% endblock %}
<